{% extends 'base.html' %}
{% block game_1%}
<div class="container p-5">
    <center>Which hero has higher winrate in:</center>
    <!-- Mozes staviti slike mesto texta -->
    <center>Herald-Guardian-Crusader bracket</center>
    <div class="row">
        <div class="col-6">
            <center>
                <div class="hero_a" id="hero_a_name">
                    {% comment %} {{hero_a}} {% endcomment %}
                </div></center>
            <center><div id="hero_a_wr_hgc">
                {% comment %} Win rate: {{hero_a_wr_hgc}}% {% endcomment %}
            </div></center>
            {% comment %} <center><button class="btn" value="Submit" id="{{hero_a}}">{{hero_a}}</button></center> {% endcomment %}
            <center><a href="{% url 'game' %}"><button class="btn" value="Submit" id="{{hero_a}}">{{hero_a}}</button></a></center>
        </div>
        <div class="col-6">
            <center><div id="hero_b_name">
                {% comment %} {{hero_b}} {% endcomment %}
            </div></center>
            <center><div id="hero_b_wr_hgc">
                {% comment %} Win rate: {{hero_b_wr_hgc}}% {% endcomment %}
            </div></center>
            <center><a href="{% url 'check_winner' %}"><button class="btn" value="Submit" id="{{hero_b}}">{{hero_b}}</button></a></center>
        </div>
    </div>
    {% comment %} <form method="post" action="{% url 'check_winner'%}">
        {% csrf_token %}
        <button name="hero_a_button" type="submit" value="{{hero_a}}" id="hero_a_button">{{hero_a}}</button>
        <button name="hero_b_button" type="submit" value="{{hero_b}}" id="hero_b_button">{{hero_b}}</button>
      </form> {% endcomment %}
    <center><button onclick="getData()" name="{{hero_a}}" id="hero_a_button">get random item</button></center>
    <center><button onclick="getData()" name="{{hero_b}}" id="hero_b_button">get random item</button></center>
</div>

{{request.POST}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(getData())
    
    var hero_a_button
    var hero_b_button
    var winner
    function getData(callback) {
          $.ajax({
            url: '{% url 'random_heroes'%}',
            type: 'GET',
            dataType: 'json',
            success: function(data){
                winner = data[2].winner
                hero_a_name = data[0].out_1[0]
                hero_b_name = data[1].out_2[0]
                $("#hero_a_name").append(data[0].out_1[0])
                $("#hero_b_name").append(data[1].out_2[0])
                $("#hero_a_wr_hgc").append(data[0].out_1[1][0])
                $("#hero_b_wr_hgc").append(data[1].out_2[1][0])
                console.log(winner);
                console.log(hero_a_name);
                console.log(hero_b_name);
            }
          });
        };
    $(document).on('click', '#hero_a_button', function(e){
        e.preventDefault();
        if (hero_a_name == winner)
            console.log('Win');
        else{
            console.log("Loser");
        }
        $('#hero_a_name').html("");
        $('#hero_b_name').html("");
        $('#hero_a_wr_hgc').html("");
        $('#hero_b_wr_hgc').html("");
    });
    $(document).on('click', '#hero_b_button', function(e){
        e.preventDefault();
        if (hero_b_name == winner)
            console.log('Win');
        else{
            console.log("Loser");
        }
        $('#hero_a_name').html("");
        $('#hero_b_name').html("");
        $('#hero_a_wr_hgc').html("");
        $('#hero_b_wr_hgc').html("");
    });
    
    
</script>
{% endblock %}