body {
    background-image: url('images/u79jn5I_c.webp');
    background-size: 200vh;
}


#rankThree {
    width: 90%;
    height: auto;
    background-color: black;
}

#rankFive {
    width: 70%;
    height: auto;
    background-color: black;
}

#rankSix {
    width: 80%;
    height: auto;
    background-color: black;
}

button {
    border: 0px;
    background-color: black;
    size: 70px;
}

.shadow-custom {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .25), 0 3px 20px 19px rgba(0, 0, 0, 0.65) !important;
}

.col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.col-5 {
    background-color: black;
}

.modal-body {
    background-color: black;
}

#chooseBracketLabel {
    color: rgb(87, 6, 6);
}

#chooseBracketHeader {
    background-color: black;
    justify-content: center;
}