body {
    background-image: url('images/u79jn5I_c.webp');
    background-size: 200vh;
}


#rankOne,
#rankTwo,
#rankThree,
#rankFour {
    width: 70%;
    height: auto;
}

#rankFive {
    width: 80%;
    height: auto;
}

button {
    border: 0px;
    background-color: white;
    size: 70px;
}